.Inbox {
  padding: 0 0 15em 0;
}

.Inbox-message-wrapper {
  padding: 1.5em;
  margin: 0 auto;
  width: 80%;
}

.Inbox-message-title {
  color: white !important;
  padding: 0.3em;
}

.Inbox-message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Inbox-message {
  width: 100%;
  padding: 1em 0 1em 0;
  margin-bottom: 0;
}

.Inbox-message-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1em;
}

.Inbox-message-btn {
  margin-left: 0.5em;
}
