.Inbox {
  padding: 0 0 15em 0;
}

.Inbox-message-wrapper {
  padding: 1.5em;
  margin: 0 auto;
  width: 80%;
}

.Inbox-message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Inbox-message {
  padding: 2em;
  width: 100%;
  margin-bottom: 1em;
}

.Inbox-message-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.Inbox-message-btn {
  margin-left: 0.5em;
}
