.Img-upload {
  z-index: 10;
  width: 450px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  z-index: 100;
  padding: 1.5em 1em 1.5em 1em;
  position: absolute;
  background: rgba(255, 255, 255, 1);
}
