.message-modal {
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: orangered;
}

.message-modal-input {
  width: 90%;
  align-self: stretch;
  margin-bottom: 0.5em;
}

.message-modal-title-wrapper {
  width: 100%;
}

.message-modal-close {
  cursor: pointer;
  float: right;
}
